
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h2,h3 {
  font-weight: normal;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

/* common
-------------------- */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 0;
  width: calc(100% - 64px);
}


/* header
-------------------- */

header h1 img {
  width: 168px;
  height: 48px;
}

/* products
-------------------- */

.products {
  margin-top: 32px;
}

.products ul {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.products ul li {
  width: calc((100% - 64px) / 3);
  cursor: pointer;
}

.products ul li img {
  width: 100%;
  height: auto;
}

.products ul li h3 {
  margin-top: 8px;
}

/* footer
-------------------- */

footer {
  margin-top: 32px;
  text-align: center;
}

small {
  font-size: 14px;
}

/* product.html
---------------------------------------- */

/* product-header 
-------------------- */

.product-header h1 img {
  cursor: pointer;
}

.product-header h1 img:hover {
  opacity: 0.7;
}

/* product
-------------------- */

.product {
  margin-top: 32px;
  display: flex;
  gap: 2rem;
}

.product div {
  flex: 1;
} 

.product div p {
  margin-top: 16px;
  text-align: justify;
}

.product div button {
  margin-top: 16px;
  padding: 8px 16px;
}

.product div img {
  width: 100%;
  height: auto;
}
