
/* common
-------------------- */

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

h1 {
  font-size: 0;
}

h2 {
  text-align: center;
}

img {
  vertical-align: bottom;
}

.btn {
  padding: 8px 16px;
  width: 128px;
  display: inline-block;
  border-radius: 8px;
  background-color: green;
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: calc(100% - 32px);
}

/* header
-------------------- */

header {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 116px;
  height: 32px;
}

.logo-pc {
  display: none;
}

/* hero
-------------------- */

.hero {
  background-color: #99e5fb;
  background-image: url(bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  text-align: center;
}

.hero div {
  padding-top: 64px;
}

.hero a{
  margin-top: 64px;
}

.hero img {
  height: 312px;
  width: 300px;
  margin-top: 64px;
}

/* features
------------------------- */

.features {
  padding: 64px 0;
}

.feature {
  margin-top: 64px;
}

.feature img {
  width: 300px;
  height: 200px;
  text-align: center;
}

.feature h3 {
  font-size: 18px;
  margin-top: 16px;
}

.feature p {
  margin-top: 16px;
}

/* footer
-------------------- */

footer {
  padding: 64px 0;
  text-align: center;
  background-color: #333;
  color: #fff;
}

footer small {
  font-size: 14px;
}

/* large screen
-------------------- */

@media (min-width: 600px) {

/* large-header
-------------------- */
  .logo-sp {
    display: none;
  }
  
  .logo-pc {
    display: inline;
    width: 284px;
    height: 32px;
}

/* large-hero
-------------------- */

  .hero .container {
    display: flex;
    align-items: center;
  }

  .hero .container div {
    flex: 1;
  }

  .hero img {
    margin-top: 0;
  }

/* large-feature
-------------------- */

.feature {
  display: flex;
  gap: 32px;
}

.feature:nth-child(odd) {
  flex-direction: row-reverse;
}

.feature .image {
  width: 300px;
}

.feature .caption {
  flex: 1;
}

}

